<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="mybatis.EmpVO" alias="emp"/>
<!-- 		<typeAlias type="mybatis.BoardVO" alias="board"/> -->
	</typeAliases>
	<environments default="mydb">
		<environment id="mydb">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@192.168.111.100:1521:xe"/>
				<property name="username" value="hr"/>
				<property name="password" value="hr"/>
				<!-- 다른 SQL 계정을 사용하고 싶다면 environment를 하나 추가하여 다른 id를 설정한 후 계정을 변경해주면된다. -->
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mybatis/emp-mapping.xml"/>
	</mappers>
</configuration>
